* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #f43f5e;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.icon {
  height: 20px;
  width: auto;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(61, 59, 59);
}
.header {
  background-color: #fff;
  padding: 20px 30px;
  border-bottom: 3px solid #d0d6dd;
}
.top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.search-form {
  display: flex;
  gap: 15px;
  align-items: center;
}
.search-form input {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 8px 20px;
  font-family: inherit;
  background-color: #dde3ea;
}
.notification {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-1-img {
  height: 30px;
}
.avatar-2-img {
  height: 50px;
}
.avatar-1-img,
.avatar-2-img {
  width: auto;
  border-radius: 50%;
}
.bottom-header {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
}
.avatar-1-text {
  font-weight: 600;
}

.avatar {
  display: flex;
  gap: 15px;
  align-items: center;
}
.avatar-text p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.avatar-text p:last-child {
  font-weight: 600;
  margin-top: 5px;
}
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.controls button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  background-color: var(--main-bg-color);
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.sidebar {
  grid-row: 1/6;
  background-color: var(--main-bg-color);
  padding: 20px 20px;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo p {
  font-size: 25px;
  font-weight: 600;
}
.logo-icon {
  height: 40px;
  fill: #fff;
}
.top-sidebar {
  margin-top: 50px;
}
.top-sidebar ul,
.bottom-sidebar ul {
  list-style: none;
}
.top-sidebar ul li,
.bottom-sidebar ul li {
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.bottom-sidebar {
  margin-top: 60px;
}

.main {
  background-color: #dde3ea;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
}
.projects-section {
  grid-row: 1/3;
}
.projects {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project-card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 5px;
  border-left: 6px solid #f52245;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-card-text {
  color: rgb(59, 59, 59);
  text-align: justify;
  font-size: 14px;
  margin-bottom: 5px;
}
.project-card-icons {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
  gap: 20px;
}
.announcements,
.trending {
  padding: 20px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: white;
}
.announcements .card p {
  color: rgb(59, 59, 59);
  text-align: justify;
  font-size: 14px;
}
.announcements .card {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.announcements .card:last-child {
  border-bottom: none;
}
.trending .card {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.trending .card p:first-child {
  color: rgb(20, 20, 20);
  font-size: 12px;
}
.trending .card p:last-child {
  color: rgb(85, 85, 85);
  margin-top: 3px;
  font-size: 13px;
}
