* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.icon {
  height: 20px;
  width: auto;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(61, 59, 59);
}
.header {
  background-color: #fff;
  padding: 20px 30px;
  border-bottom: 3px solid #d0d6dd;
}
.top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.search-form {
  display: flex;
  gap: 15px;
  align-items: center;
}
.search-form input {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 8px 20px;
  font-family: inherit;
  background-color: #dde3ea;
}
.notification {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-1-img {
  height: 30px;
}
.avatar-2-img {
  height: 50px;
}
.avatar-1-img,
.avatar-2-img {
  width: auto;
  border-radius: 50%;
}
.bottom-header {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
}
.avatar-1-text {
  font-weight: 600;
}

.avatar {
  display: flex;
  gap: 15px;
  align-items: center;
}
.avatar-text p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.avatar-text p:last-child {
  font-weight: 600;
  margin-top: 5px;
}
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.controls button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  background-color: #1992d4;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.main {
  background-color: #ddd;
  grid-row: 2/6;
}
.sidebar {
  grid-row: 1/6;
  background-color: #1992d4;
  padding: 20px 20px;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo p {
  font-size: 25px;
  font-weight: 600;
}
.logo-icon {
  height: 40px;
  fill: #fff;
}
.top-sidebar {
  margin-top: 50px;
}
.top-sidebar ul,
.bottom-sidebar ul {
  list-style: none;
}
.top-sidebar ul li,
.bottom-sidebar ul li {
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.bottom-sidebar {
  margin-top: 60px;
}
